{% extends "main.html" %}

{% block title %}
    CSC206 Databases
{% endblock %}        


{% block body %}

<h1>Colleges and Majors</h1>
<p>Partial list of majors available at selected colleges.</p>


<table class="table table-striped">
    <thead>
        <th>College</th>
        <th>Location</th>
        <th>Major</th>
        <th>Enrollment</th>
    </thead>
    <tbody>
        {% for school in schools %}
        <tr>
            <td>{{school.School.name}}</td>
            <td>{{school.School.state}}</td>
            <td>{{school.Major.name}}</td>
            <td>{{school.Association.enrollment}}</td> 
        </tr>    
        {% endfor %}
    </tbody>
</table>


{% endblock %}